.brief {
  &__grid {
    display:flex;
    flex-wrap: wrap;
  }
  &__cell {
    box-sizing: border-box;
    &_left {
      width:66.6667%;
      @media(max-width: 1023px) {
        width:100%;
      }
    }
    &_right {
      width:~"calc(33.3333% - 20px)";
      position:fixed;
      top:0;
      left:~"calc(66.6667% + 20px)";
      height:100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      @media(max-width: 1023px) {
        width:100%;
        position:relative;
        left:0;
        top:0;
      }
    }
  }
  &__subheading {
    margin-top:30px;
    @media(max-width: 1440px) {
      font-size:36px;
      line-height: 48px;
    }
    @media(max-width: 767px) {
      font-size:24px;
      line-height: 32px;
    }
  }
  &__form {
    margin-top:30px;
  }
  &__submit {
    margin-top:30px;
  }
}
