.cases {
  position:relative;
  &__trigger {
    position:absolute;
    bottom:50%;
  }
  &__nav {
    position:absolute;
    bottom:30px;
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color:#fd4d4f;
    &:before {
      content:"";
      position:absolute;
      left:50%;
      top:50%;
      height:16px;
      width:16px;
      background-position: 50% 50%;
      background-size:contain;
      background-repeat: no-repeat;
      background-image:url('../img/arrowwhite.svg');
      transform:translate(-50%,-50%);
    }
    &_left {
      left:30px;
      &:before {
        transform:translate(-50%,-50%) rotate(180deg);
      }
    }
    &_right {
      right:30px;
    }
  }
}
.case-block {
  position:relative;
  height:100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  &__heading {
    color:white;
    position:absolute;
    padding:0 20px;
    left:0px;
    right:0px;
    bottom:330px;
    transform:translateY(100%);
    @media(min-width: 1920px) {
      padding:0 60px;
    }
  }
  &__text {
    color:white;
    font-weight: 700;
    padding:0 20px;
    position:absolute;
    left:0px;
    right:0px;
    bottom:180px;
    transform:translateY(100%);
    text-transform: uppercase;
    @media(min-width: 1920px) {
      padding:0 60px;
    }
  }
  &__link {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
  }
}
