.cases {
  height:100vh;
  display:flex;
  &__case {
    box-sizing: border-box;
    display:inline-block;
    flex-shrink:0;
  }
  &__nav {
    position:absolute;
    bottom:30px;
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color:rgba(0,0,0,0.9);
    &:before {
      content:"";
      position:absolute;
      left:50%;
      top:50%;
      height:16px;
      width:16px;
      background-position: 50% 50%;
      background-size:contain;
      background-repeat: no-repeat;
      background-image:url('../img/arrow.svg');
      transform:translate(-50%,-50%);
    }
    &_left {
      left:30px;
      &:before {
        transform:translate(-50%,-50%) rotate(180deg);
      }
    }
    &_right {
      right:30px;
    }
  }
}
[data-uk-slideset] {
  position:relative;
}

.case-block {
  position:relative;
  height:100%;
  width:50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  &__heading {
    color:white;
    position:absolute;
    padding:0 20px;
    left:0px;
    right:0px;
    bottom:300px;
    transform:translateY(100%);
    @media(min-width: 1920px) {
      padding:0 60px;
    }
  }
  &__text {
    color:white;
    font-weight: 700;
    padding:0 20px;
    position:absolute;
    left:0px;
    right:0px;
    bottom:150px;
    transform:translateY(100%);
    text-transform: uppercase;
    @media(min-width: 1920px) {
      padding:0 60px;
    }
  }
  &__link {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
  }
}
