@motul-gray:rgb(27,27,27);
@gray:rgb(232,232,232);

.case {
  &__grid {
    display:flex;
    flex-wrap: wrap;
  }
  &__cell {
    box-sizing: border-box;
    width:100%;
    &_small {
      width:50%;
      @media(max-width: 767px) {
        width:100%;
      }
    }
    &_text {
      padding:60px;
      @media(max-width: 767px) {
        padding:60px 20px;
      }
      &>*+* {
        margin-top:30px;
      }
      &>p+p {
        margin-top:15px;
      }
    }
    &_background {
      padding-top:110px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      color:white;
    }
    &_text-center {
      text-align: center;
    }
    &_motul-light {
      background-color:@gray;
      color:@motul-gray;
    }
    &_motul-dark {
      background-color:@motul-gray;
      color:white;
    }
    &_free-lands {
      background-color:@gray;
    }
    &_kibbler {
      background-color:#1f1f1f;
      color:white;
    }
    &_ff {
      color:white;
      background-color:#86287c;
    }
  }
  &__img {
    width: 100%;
    display:block;
  }
}

.switcher {
  padding:90px 60px;
  background-color:rgba(0,0,0,0.04);
  @media(max-width: 767px) {
    padding:60px 20px;
  }
  &__buttons {
    display:flex;
    margin-bottom:30px;
    margin-left: -15px;
    justify-content: center;
    text-align: center;
  }
  &__button {
    color:@motul-gray;
    box-sizing:border-box;
    padding-left: 15px;
    display:inline-block;
    position:relative;
    &.uk-active {
      color:rgb(253,77,79);
    }
    & a {
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
    }
    &:before {
      font-family: "icomoon";
      font-size:120px;
      display:inline-block;
      @media(max-width: 767px) {
        font-size:70px;
      }
    }
    &_desktop:before {
      content:"\e901";
    }
    &_tablet:before {
      content:"\e902";
    }
    &_phone:before {
      content:"\e900";
    }
  }
  &__element {
    display:block;
    height:450px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.indicators {
  text-align: center;
  &__grid {
    display:flex;
    flex-wrap: wrap;
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
  }
  &__cell {
    padding:15px;
    box-sizing: border-box;
    width:50%;
  }
  &__value {
    color:red;
    font-weight: bold;
    &_black {
      color:inherit;
    }
  }
  &__text {

  }
}
