.contacts {
  &__grid {
    display:flex;
    flex-wrap: wrap;
  }
  &__cell {
    box-sizing: border-box;
    &_left {
      width:66.6667%;
    }
    &_right {
      width:33.3333%;
    }
  }
  &__image {
    position:fixed;
    left:0;
    top:0;
    width:66.6667%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height:100vh;
  }
  &__name {
    font-size:18px;
    margin-top:30px;
    @media(min-width: 1440px) {
      font-size:24px;
    }
  }
  &__value {
    font-size:18px;
    max-width: 350px;
    @media(min-width: 1440px) {
      font-size:24px;
    }
  }
}
