.header {
  z-index:999;
  display:flex;
  position:absolute;
  top:0;
  left:0;
  right:0;
  padding:60px 60px 0 60px;
  @media(max-width:767px) {
    padding:20px 20px 0 20px;
    justify-content: flex-end;
  }
  &_fixed {
    position:fixed;
  }
  &_work {
    left:40%;
    @media(min-width: 1440px) {
      left: 50%;
    }
  }
  &_contacts {
    left: 66.6667%;
  }
  &_about {
    left:33.3333%;
    @media(min-width: 1920px) {
      left: 50%;
    }
  }
}
