.header {
  z-index:999;
  display:flex;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  // background-color:#fd4d4f;
  background-color:white;
  position:fixed;
  @media(max-width:767px) {
    right:0;
  }
  @media(max-width: 1023px) {
    left:0;
    top:0;
    right:0;
    height:auto;
  }
}
