.layout{
  display: none;
}

.home {
  &__grid {
    display:flex;
    flex-wrap: wrap;
  }
  &__fixed-cell {
    position:fixed;
    width:50%;
    @media(min-width: 1920px) {
      width:33.3333%;
    }
    @media(max-width: 1023px) {
      width:100%;
    }
  }
  &__cell {
    box-sizing: border-box;
    &_left {
      width:50%;
      background-color:#fff;
      position:relative;
      z-index:100;
      @media(min-width: 1920px) {
        width:33.3333%;
      }
      @media(max-width: 1023px) {
        width:100%;
      }
    }
    &_right {
      width:50%;
      @media(min-width: 1920px) {
        width:66.6667%;
      }
      @media(max-width: 1023px) {
        width:100%;
      }
    }
  }
}

.aside {
  padding:60px;
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  @media(max-width: 1023px) {
    padding:120px;
  }
  &__hello {
    margin-top:70px;
    font-size: 144px;
    line-height: 144px;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px black, 1px -1px black, -1px -1px black, -1px 1px black;
    @media(min-width: 1440px) {
      margin-top: 120px;
    }
    @media(max-width: 1023px) {
      display:none;
    }
  }
  &__name{
    width:100%;
    margin-top:40px;
    font-size: 48px;
    text-transform: uppercase;
  }
  &__slogan{
    max-width: 350px;
    margin-top:15px;
    font-size: 24px;
    @media(min-width: 1440px) {
      margin-top:30px;
    }
  }
  &__button {
    width:100%;
    margin-top: 60px;
    @media(min-width: 1440px) {
      margin-top:170px;
    }
    @media(max-width: 1023px) {
      display:none;
    }
  }
}

.services {

  &__grid {
    display:flex;
    flex-wrap: wrap;
  }
  &__cell {
    height:310px;
    width:50%;
    position:relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
  }
  &__link {
    position:absolute;
    z-index:1;
    left:0;
    right:0;
    top:0;
    bottom:0;
  }
  &__text {
    position:absolute;
    left:0;
    bottom:0;
    box-sizing: border-box;
    width:350px;
    max-width: 100%;
    padding:20px;
    color:white;
  }
}

.disabled {
  display:none;
}
