.sidebar {
  box-sizing: border-box;
  padding: 60px;
  max-width: 330px;
  &__items {
    margin-top:80px;
    & li+li {
      margin-top:20px;
    }
    &_contacts {
      margin-top:60px;
    }
  }
  &__item {
    font-family: "Oswald",arial,sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color:black;
    text-transform: uppercase;
  }
  &__callback {
    margin-top:60px;
  }

}

.callback {
  box-sizing: border-box;
  &__heading {
    color:white;
    text-shadow: 1px 1px black, 1px -1px black, -1px -1px black, -1px 1px black;
    font-size:18px;
    line-height: 27px;
  }
  &__form {
    margin-top:30px;
  }
}
