<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Oswald:500&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	
</head>
<body>
<section class="brief">
	<div class="brief__main">
		<div class="burger">
			<a href="#" class="burger_btn">1</a>
		</div>
		<div class="brief__wrap">
			<h4 class="brief__begin">Заполнить бриф</h4>
			<h3 class="brief__title">Чем мы можем быть вам полезны?</h3>
			<form class="form">
				<div class="form__item">
					<input type="radio" name="question" id="one">
					<label for="one">создать систему продаж в интернете</label>
				</div>
				<div class="form__item">
					<input type="radio" name="question" id="two">
					<label for="two">создать сайт</label>
				</div>
				<div class="form__item">
					<input type="radio" name="question" id="three">
					<label for="three">настроить рекламу в интернете</label>
				</div>
				<div class="form__item">
					<input type="radio" name="question" id="four">
					<label for="four">вести социальные сети</label>
				</div>
				<div class="form__item">
					<input type="radio" name="question" id="five">
					<label for="five">разработать фирменный стиль</label>
				</div>
				<div class="form__submit">Далее</div>
			</form>
		</div>
	</div>
	<div class="brief__bg"></div>
</section>
</body>
</html>